name: Build LaTeX document
on: [push]

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Compile LaTeX document
        uses: dante-ev/latex-action@latest
        with:
          root_file: main.tex
      
      - name: Upload PDF
        uses: actions/upload-artifact@v3
        with:
          name: SAD-Literature-Review
          path: main.pdf
